{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,  shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->

  <link rel="stylesheet" href="{% static "portfolio/custom.css" %}">

  <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">

  <link rel="icon" type="image/jpg" href="{% static "portfolio/logo_walter.jpg" %}">

  <title>Viliam Marencak</title>

</head>

<body style="background-color:lightblue">

  <nav id="topNav" class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'intro' %}">
        <img src="{% static "portfolio/logo_walter.jpg" %}" width="30" height="30" class="d-inline-block align-top" alt="Moje Logo">
        <span>Viliam Marenčák</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarNav">
        <ul class="navbar-nav ml-auto">
      <!-- <div class="mx-auto" style="width: 100px;"></div> -->
          <li class="nav-item">
            <a class="nav-link" href="{% static 'viliam_marencak_en21.pdf' %}" target="_blank">Curriculum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/viliam-marencak-211408169" target="_blank">Linkedin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/VMarencak" target="_blank">Twitter</a>
          </li>
        <!-- <a class="nav-link" href="http://localhost:8000/admin/">Admin</a> -->
          <li class="nav-item">
            <a role="button" href="{% url 'blog:all_blogs' %}" class="btn btn-primary">LiveBlogs</a>
          </li>
          <li class="nav-item">
            <a role="button" href="{% url 'blog:mytunes' %}" class="rounded mx-auto d-block"><img src="{% static "portfolio/applemusic.png" %}" width="50" height="38" class="d-inline-block align-top" alt="Moje Logo"></a>
          </li>
          <li class="nav-item">
            <a role="button" href="{% url 'blog:trails' %}" class="btn btn-terciary">MyTrails</a>
          </li>
      <!-- <div class="me-3"></div>
      <div class="mx-auto" style="width: 200px;"></div> -->

        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>

<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
